<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- For linking a stylesheet in hbs, as long as it's in the base, anything that extends base can use it! -->
    <link rel="stylesheet" href="../../assets/basestyles.css">
</head>
<body>
    <div class="container">
        {{#block "content"}}
        {{/block}}
    </div>
</body>
</html>