{{#extends "base"}}

{{#block content}}
    <h1>Create New Card</h1>
    <form method="POST">
        {{!render out raw HTML: producing the create Card form that we pass in from the route}}
        {{{form}}}
        <input type="submit" value="Add Card" class="btn btn-primary"/>
    </form>
{{/block}}
{{/extends}}