{{#extends "base"}}

{{#block "content"}}
    <h1>Update Card: {{card.name}}</h1>
    <form method="POST">
        {{{form}}}
        <input type="submit" value="Update Card" class="btn btn-primary mt-3"/>
    </form>
{{/block}}

{{/extends}}