{{#extends "base"}}

{{#block "content"}}
    <h1>Update Card: {{card.name}}</h1>
    <form method="POST">
        {{{form}}}
        <div class="formButtonContainer">
            <input type="submit" value="Update Card" class="btn btn-primary mt-3"/>
            <a href="/cards" class="btn btn-info">Go Back</a>
        </div>
    </form>
{{/block}}

{{/extends}}