.tableContainer {
    border: 4px double black;
}

.tableHeader {
    text-align: center; 
    text-decoration: underline;
}

.tableHeader:hover{
    transform:scale(1.05);
    transition: all 0.3s ease;
}