.tableContainer {
    border: 4px double black;
}

.tableHeader {
    text-align: center; 
    text-decoration: underline;
}

.tableHeader:hover{
    transform:scale(1.05);
    transition: all 0.3s ease;
}

.formButtonContainer {
    display: flex;
    /* for whatever reason, flex-end is the only alignment that truly aligns the buttons */
    align-items: flex-end;
}

.linkContainer {
    display: flex;
    justify-content: center;
    /* weird again, but flex-start is the only alignment that works, so just going for it */
    align-items: flex-start;
}

#mainContainer {
    background: linear-gradient(#fffafa, #f5fffa, #fffaf0, #f5f5dc);
}

.buttonAnimations:hover {
    transform:scale(1.17);
    transition: all 0.3s ease;
}

.nav-item:hover {
    background-color: lime;
    border: 3px solid darkolivegreen;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.uiContainer {
    border: 3px double black;
    padding: 10px;
}

.user {
    font-weight: bold;
}

.user:hover {
    transform: scale(1.2);
    text-decoration: underline;
    transition: all 0.3s ease;
}