{{#extends "base"}}

{{#block "content"}}
<div class="uiContainer">
    <h1 class="mb-3">Login</h1>
    <p>Welcome back. Please login with your account below.</p>
    <p>If you don't have an account, you can create one today!</p>

    <form method="POST">
        {{{form}}}
        <div class="formButtonContainer">
            <input type="submit" class="btn btn-primary mt-3 me-2 buttonAnimations" value="Login"/>
            <a href="/users/register" class="btn btn-primary buttonAnimations">Register</a>
        </div>
    </form>
</div>
{{/block}}

{{/extends}}