{{#extends "base"}}

{{#block "content"}}
<div class="uiContainer">
    <h1>Register</h1>
    <form method="POST">
        {{{form}}}
        <input type="submit" value="Register" class="btn btn-primary mt-3 buttonAnimations"/>
    </form>
</div>
{{/block}}

{{/extends}}